<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

<div class="ion-text-center">

  <img class="avatarImg" src="assets/images/zenfit-logo.PNG">
  
</div>

<ion-title size="large"> Let's you in </ion-title>


<ion-button expand="block" shape="round"> <ion-icon slot="start" color="primary" name="logo-facebook"></ion-icon> Continue with facebook </ion-button>

<ion-button expand="block" shape="round"> <ion-icon slot="start" color="warning" name="logo-google"></ion-icon> Continue with google </ion-button>

<ion-button expand="block" shape="round"> <ion-icon slot="start" name="logo-apple"></ion-icon> Continue with apple </ion-button>

<ion-text color="primary">
  <h2 class="ion-text-center linetopbottom" id="line"> or </h2>
</ion-text>

<ion-button expand="block" shape="round" color="danger" routerLink="/login"> Sign in with Password </ion-button>

<ion-text color="primary" class="acc-text-bottom">
  <h3 class="ion-text-center"> Don't have an account? <span class="signtext" routerLink="/sign-up"> Sign Up </span> </h3>
</ion-text>


</ion-content>
